<table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td class="esd-email-paddings" valign="top"><br/>
            <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td class="esd-stripe" align="center">
                        <table class="es-content-body" style="border: 1px solid transparent;" width="600"
                               cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                            <tbody>
                            <tr>
                                <td class="esd-structure es-p20t es-p40b es-p40r es-p40l" align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td class="esd-container-frame" align="left" width="518">
                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="esd-block-text es-m-txt-c" align="center">
                                                            <h2>&iexcl;Hola {{ NAME }} {{ LASTNAME }}!</h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="esd-block-text es-m-txt-c es-p15t" align="center">
                                                            <p>Recibimos una solicitud para configurar su correo electr&oacute;nico
                                                                a {{ EMAIL }}. Si esto es correcto, confirme haciendo
                                                                clic en el bot&oacute;n a continuaci&oacute;n. Si no
                                                                sabe por qu&eacute; recibi&oacute; este correo electr&oacute;nico,
                                                                inf&oacute;rmenos de inmediato para que podamos
                                                                solucionarlo.</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="esd-block-button es-p20t es-p15b es-p10r es-p10l"
                                                            align="center">
                                                            <p>&nbsp;</p>
                                                            <p><span style="color: #0000ff;"><strong><span
                                                                    class="es-button-border">C&oacute;digo verficaci&oacute;n: {{ CODE }}</span></strong></span>
                                                            </p>
                                                            <p>&nbsp;</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td class="esd-stripe" align="center">
                        <table class="es-content-body" width="600" cellspacing="0" cellpadding="0" align="center"
                               bgcolor="#ffffff">
                            <tbody>
                            <tr>
                                <td class="esd-structure es-p20t" align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td class="esd-container-frame" align="center" valign="top" width="600">
                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="esd-block-image es-p20r es-p20l"
                                                            style="font-size: 0;" align="center"><a target="_blank"><img
                                                                class="adapt-img" style="display: block;" title="Image"
                                                                src="https://tlr.stripocdn.email/content/guids/CABINET_57116f9afe83495a646cd7734bc77d26/images/39641523866414281.jpg"
                                                                alt="Image" width="260"/></a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <table class="es-footer" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td class="esd-stripe" style="background-color: #f7f7f7;" align="center" bgcolor="#f7f7f7">
                        <table class="es-footer-body" width="600" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                            <tr>
                                <td class="esd-structure es-p20t es-p20b es-p20r es-p20l" align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td class="esd-container-frame" align="center" valign="top" width="560">
                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="esd-block-text es-p5b" align="center">
                                                            <h3 style="line-height: 150%;">User: {{ USERNAME }}</h3>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="esd-block-text es-p10t es-p10b" align="center">
                                                            <p style="line-height: 150%;">Est&aacute; recibiendo este
                                                                correo electr&oacute;nico porque ha visitado nuestro
                                                                sitio o nos ha creado una cuenta para acceder al
                                                                servidor.</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="esd-block-text es-p10b" align="center">
                                                            <p style="line-height: 150%;"><strong>{{ PROJECT }} designed
                                                                by <a href="http://www.freepik.com/" target="_blank"
                                                                      rel="noopener">Freepik</a>.</strong></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="esd-block-text es-p10t es-p10b" align="center">
                                                            <p>&copy; 2020</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="esd-footer-popover es-content" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td class="esd-stripe" align="center">
                        <table class="es-content-body" style="background-color: transparent;" width="600"
                               cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                            <tr>
                                <td class="esd-structure es-p30t es-p30b es-p20r es-p20l" align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td class="esd-container-frame" align="center" valign="top" width="560">
                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="esd-block-image es-infoblock made_with"
                                                            style="font-size: 0;" align="center">&nbsp;
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>