<table style="height: 90px; border: groove; background-color: #dedede; border-radius: 20px; -webkit-box-shadow: 5px 5px 20px #595959; margin: auto;"
       width="484">
    <tbody>
    <tr>
        <td style="width: 474px;">
            <p>&nbsp;</p>
            {% block Titulo %}

            {% endblock %}

            {% block intro %}

            {% endblock %}

            {% block conten %}

            {% endblock %}

            {% block firma %}

            {% endblock %}
            <p>&nbsp;</p>
        </td>
    </tr>
    </tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p>&nbsp;</p>